<hr>
<br>
<%- list_categories({depth: 1}) %>

<p class="count"></p>

<style>
    .category-list li{
        display: inline-block;
        margin: 0 1em .5em 0;
        padding: 4px;
        border: 1px solid lightgray;
        font-size: 1.2rem;
    }
    .category-list a { color: gray; }
    .category-list-item:hover a {
        color: gray;
        text-decoration: none;
    }
    .category-list-count {
        margin-left: 2px;
        font-size: .9rem;
    }
    .article-entry ul li:before{ display: none; }
    .article-inner { text-align: center; }
    #count > span {
        margin: auto .2em;
        font-weight: bold;
    }
</style>

<!-- Count tags and categories -->
<p id="count">
    <div>
        <%= __('tag_cloud.already') %><span><script>document.write($(".category-list-item").length)</script></span><%= __('tag_cloud.categories') %>
    </div>
</p>
<script>
    $('#count').appendTo('.count');
</script>