<hr>
<br>

<div class="tags">
    <%- tagcloud({
        min_font: 16, 
        max_font: 35, 
        amount: 999, 
        color: true, 
        start_color: 'gray', 
        end_color: 'black',
    }) %>
</div>

<p class="count"></p>

<style>
    .article-entry ul li:before{ display: none; }
    .article-inner { text-align: center; }
    .tags {
        max-width: 42em;
        margin: 2em auto;
        margin-top: 0em;
    }
    .tags a {
        margin-right: 1em;
        line-height: 65px;
        border-bottom: 1px solid gray;
        white-space: nowrap;
        transition: border-bottom .5s;
    }
    .tags a:hover {
        border-bottom: 3px dotted gray;
        text-decoration: none;
    }
    #count > span {
        margin: auto .2em;
        font-weight: bold;
    }
</style>

<!-- Count tags and categories -->
<p id="count">
    <div>
        <%= __('tag_cloud.total') %><span><script>document.write($(".tags > a").length)</script></span><%= __('tag_cloud.tags') %>
    </div>
</p>
<script>
    $('#count').appendTo('.count');
</script>
